<form name="authForm" novalidate ng-submit="$ctrl.submitForm();">
    <label>
        <input type="email" 
               name="email" 
               required="required"
               placeholder="Enter Your email" 
               ng-model="$ctrl.user.email">
    </label>
    <label>
        <input type="password" 
               name="password" 
               required="required"
               placeholder="Enter Your password" 
               ng-model="$ctrl.user.password">
    </label>
    <div class="auth-button">
        <button ng-disabled="authForm.$invalid"
                type="submit">
            {{ $ctrl.button }}
        </button>
    </div>
    <div ng-if="$ctrl.message">
        {{ $ctrl.message }}
    </div>
</form>